
.heading-label {
    -fx-font-size: 32pt;
    -fx-font-family: "Impact";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.mode-label {
    -fx-font-size: 28pt;
    -fx-font-family: "monospace";
    -fx-opacity: 1;
}

#background {
    -fx-background-color:
        linear-gradient(to bottom, lawngreen 2%, lemonchiffon 98%);
}

#toolbar {
    -fx-font: 14 comic-sans;
    -fx-base: red;
    -fx-padding: 0.9em .416667em 0.9em 0.416667em;
    -fx-background-color:
        linear-gradient(to bottom, derive(-fx-base,-30%), derive(-fx-base,-60%)),
        linear-gradient(to bottom, lawngreen 99.9%, lawngreen .1%);
}

#sidebar {
    -fx-font: 14 comic-sans;
    -fx-base: black;
    -fx-padding: 0.9em .416667em 0.9em 0.416667em;
    -fx-background-color:
        linear-gradient(to bottom, lawngreen 2%, lemonchiffon 98%);
}

#button-round{
	-fx-background-color:linear-gradient(white, grey );
	-fx-background-radius:20em;
	-fx-max-height: 50px;
	-fx-max-width:50px;
	-fx-min-height:50px;
	-fx-min-width:50px;
	-fx-text-fill: white;
	-fx-font-size: 14px;

}

#orange{
	-fx-background-color:linear-gradient(orange, orange );
	-fx-background-radius:20em;
	-fx-max-height: 50px;
	-fx-max-width:50px;
	-fx-min-height:50px;
	-fx-min-width:50px;
	-fx-text-fill: white;
	-fx-font-size: 14px;

}

#light-orange{
	-fx-background-color:linear-gradient(white, orange );
	-fx-background-radius:20em;
	-fx-max-height: 50px;
	-fx-max-width:50px;
	-fx-min-height:50px;
	-fx-min-width:50px;
	-fx-text-fill: white;
	-fx-font-size: 14px;

}

#button-pause{
	-fx-background-color:blue;
	-fx-background-radius:20em;
	-fx-max-height: 50px;
	-fx-max-width:50px;
	-fx-min-height:50px;
	-fx-min-width:50px;
	-fx-text-fill: blue;
	-fx-font-size: 14px;

}


#wordsGotten{
	-fx-background-color:linear-gradient(grey, white );

}

#timer{
	-fx-background-color:linear-gradient(white, grey );

}


#green{
	-fx-background-color:linear-gradient(green, grey );
	-fx-background-radius:20em;
	-fx-max-height: 50px;
	-fx-max-width:50px;
	-fx-min-height:50px;
	-fx-min-width:50px;
	-fx-text-fill: white;
	-fx-font-size: 14px;
}